## Campaign contributions for and against Prop. 21

Luke Harold

*** current as of Sept. 4, 2020

In [2]:
import pandas as pd

In [4]:
committee_1 = pd.read_csv("rent_control_1.csv")

In [5]:
committee_2 = pd.read_csv("rent_control_2.csv")

In [6]:
committee_3 = pd.read_csv("rent_control_3.csv")

In [7]:
committee_4 = pd.read_csv("rent_control_4.csv")

In [20]:
committee_5 = pd.read_csv("rent_control_5.csv")

In [21]:
contribs = pd.concat([committee_1, committee_2, committee_3, committee_4, committee_5])

In [22]:
contribs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4511 entries, 0 to 676
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   name_of_contributor  4466 non-null   object
 1   payment_type         4510 non-null   object
 2   city                 4504 non-null   object
 3   state                4501 non-null   object
 4   zip                  4501 non-null   object
 5   id_number            7 non-null      object
 6   employer             3277 non-null   object
 7   occupation           3509 non-null   object
 8   amount               4510 non-null   float64
 9   transaction_date     4510 non-null   object
 10  filed_date           4510 non-null   object
 11  transaction_number   4510 non-null   object
 12  committee_name       4466 non-null   object
 13  position             4466 non-null   object
 14  name_of_contibutor   44 non-null     object
dtypes: float64(1), object(14)
memory usage: 563.9+ KB

In [23]:
## cities where the most contributors come from

In [24]:
contribs.city.value_counts().reset_index()

             index  city
0      LOS ANGELES   834
1    SAN FRANCISCO   259
2         BROOKLYN    79
3          OAKLAND    69
4        SAN DIEGO    68
..             ...   ...
963    HALTOM CITY     1
964    BROOKEVILLE     1
965   GRAND RAPIDS     1
966   MATTAPOISETT     1
967  WHITEFISH BAY     1

[968 rows x 2 columns]

In [25]:
## contributions from San Diego

In [26]:
sd_contribs = contribs[contribs.city == "SAN DIEGO"]

In [28]:
sd_contribs.amount.sum()

666179.0

In [31]:
sd_contribs.sort_values("amount", ascending = False)

,name_of_contributor,payment_type,city,state,zip,id_number,employer,occupation,amount,transaction_date,filed_date,transaction_number,committee_name,position,name_of_contibutor
54,R&V MANAGEMENT CORPORATION AND ITS AFFILIATES,MONETARY,SAN DIEGO,CA,92108,NaN,NaN,NaN,550000.0,3/9/2020,7/31/2020,2471328 - INC269,NO ON PROP 21: CALIFORNIANS FOR RESPONSIBLE HO...,oppose,NaN
151,"PATHFINDER PARTNERS, LP AND AFFILIATED ENTITIES",MONETARY,SAN DIEGO,CA,92122,NaN,NaN,NaN,30000.0,5/26/2020,7/31/2020,2487641 - INC468,NO ON PROP 21: CALIFORNIANS FOR RESPONSIBLE HO...,oppose,NaN
382,"PATHFINDER PARTNERS, LP AND AFFILIATED ENTITIES",MONETARY,SAN DIEGO,CA,92122,NaN,NaN,NaN,30000.0,5/26/2020,7/31/2020,2487640 - INC468,NO ON PROP 21: CALIFORNIANS FOR RESPONSIBLE HO...,oppose,NaN
383,"KIMBALL, TIREY & ST. JOHN LLP",MONETARY,SAN DIEGO,CA,92108,NaN,NaN,NaN,10000.0,5/26/2020,7/31/2020,2487640 - INC469,NO ON PROP 21: CALIFORNIANS FOR RESPONSIBLE HO...,oppose,NaN
152,"KIMBALL, TIREY & ST. JOHN LLP",MONETARY,SAN DIEGO,CA,92108,NaN,NaN,NaN,10000.0,5/26/2020,7/31/2020,2487641 - INC469,NO ON PROP 21: CALIFORNIANS FOR RESPONSIBLE HO...,oppose,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2536,RICARDO SOLTERP,MONETARY,SAN DIEGO,CA,92101,NaN,STARBUCKS,BARISTA,1.0,5/14/2020,7/30/2020,2484759 - INC3070,YES ON 21 - RENTERS AND HOMEOWNERS UNITED TO K...,support,NaN
2601,SEAN CADDEN,MONETARY,SAN DIEGO,CA,92106,NaN,NOT EMPLOYED,NOT EMPLOYED,1.0,5/14/2020,7/30/2020,2484759 - INC3135,YES ON 21 - RENTERS AND HOMEOWNERS UNITED TO K...,support,NaN
392,RACHELLE VALDEZ,MONETARY,SAN DIEGO,CA,92103-5439,NaN,SELF EMPLOYED,CAREGIVER,1.0,2/21/2020,7/30/2020,2478872 - INC1117,YES ON 21 - RENTERS AND HOMEOWNERS UNITED TO K...,support,NaN
2632,JOSHUA KIMESSMITH,MONETARY,SAN DIEGO,CA,92114,NaN,UNION-TRIBUNE,REPORTER,1.0,5/14/2020,7/30/2020,2484759 - INC3166,YES ON 21 - RENTERS AND HOMEOWNERS UNITED TO K...,support,NaN
1701,KARIM GILLIAM,MONETARY,SAN DIEGO,CA,92127,NaN,NOT EMPLOYED,NOT EMPLOYED,1.0,4/25/2020,7/30/2020,2484759 - INC2011,YES ON 21 - RENTERS AND HOMEOWNERS UNITED TO K...,support,NaN